@import 'colors.scss';

.top-header {
  background-color: $header-orange;
  font-family: $header-font;
  padding-bottom: 16px;
  color: white;
  font-size: 3.5em;
}

.ribbon-header {
  background-color: $header-orange;
  color: white;
}
