.search-input {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

.card-deck {
  padding-top: 40px;
}

.card-img-top {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 250px;
  margin-bottom: 1rem;
}

.card {
  height: 400px;
  width: 255px;
}

.artwork-container {
  position: relative;
  bottom: 5em;
  z-index: -10;
}
