.artwork-container {
  position: relative;
  bottom: 7em; }
  .artwork-container .artwork-input-container {
    margin-top: 3em;
    z-index: 2; }
    .artwork-container .artwork-input-container .search-input {
      width: 20%;
      margin: 0 auto;
      background: none;
      border-bottom: solid 2px #FF6347;
      border-top: none;
      border-right: none;
      border-left: none;
      box-shadow: none;
      border-radius: 0;
      transition: border 0.3s; }
      .artwork-container .artwork-input-container .search-input input[type="text"] {
        color: #FF6347;
        /* WebKit, Blink, Edge */
        /* Mozilla Firefox 4 to 18 */
        /* Mozilla Firefox 19+ */
        /* Internet Explorer 10-11 */
        /* Microsoft Edge */ }
        .artwork-container .artwork-input-container .search-input input[type="text"]:focus {
          border-bottom: solid 2px #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]::-webkit-input-placeholder {
          color: #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]:-moz-placeholder {
          color: #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]::-moz-placeholder {
          color: #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]:-ms-input-placeholder {
          color: #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]::-ms-input-placeholder {
          color: #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]:focus {
          border: none; }
    .artwork-container .artwork-input-container .results-div {
      margin: 15px 0px 20px 0px; }
  .artwork-container .artwork-results-container {
    z-index: 10; }
    .artwork-container .artwork-results-container .card-deck {
      padding-top: 40px; }
    .artwork-container .artwork-results-container .card-img-top {
      object-fit: cover;
      object-position: center;
      width: 100%;
      max-height: 250px;
      margin-bottom: 1rem; }
    .artwork-container .artwork-results-container .card {
      height: 400px;
      width: 255px; }
