@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Oswald");
.container-style {
  background-color: white;
  box-shadow: 2px 2px 10px #adadad;
  margin: 1em; }

.header-style {
  background-color: #757575; }
  .header-style h1 {
    font-family: "Oswald", sans-serif;
    padding-bottom: 16px;
    color: white;
    font-size: 3.5em; }

.artwork-container .search-input {
  width: 50%;
  margin: 0 auto; }

.artwork-container .card-deck {
  padding-top: 40px; }

.artwork-container .card-img-top {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 250px;
  margin-bottom: 1rem; }

.artwork-container .card {
  height: 400px;
  width: 255px; }

.graph-container-style {
  margin: 2em;
  width: 30%; }
  @media (min-width: 2100px) {
    .graph-container-style {
      margin: 2em;
      width: 31%; } }
  @media (max-width: 1690px) {
    .graph-container-style {
      margin: 20px 30px;
      width: 28%; } }
  @media (max-width: 1000px) {
    .graph-container-style {
      margin: 20px 90px;
      width: 80%; } }
  @media (max-width: 700px) {
    .graph-container-style {
      margin: 20px 0px;
      width: 100%; } }

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: #ECECEC;
  max-width: 100%; }
