@import url("https://fonts.googleapis.com/css?family=Oswald");
.white-container-style {
  box-shadow: 2px 2px 10px #adadad;
  background-color: white;
  border-radius: 10px 75px;
  max-width: 100%;
  margin: 0 auto; }

.header-div {
  z-index: 1; }

.top-header {
  background-color: #FF6347;
  font-family: "Oswald", sans-serif;
  padding-bottom: 16px;
  color: white;
  font-size: 3.5em; }

.ribbon-header {
  font-size: 24px !important;
  width: 50%;
  position: relative;
  background: #FFA500;
  color: #fff;
  text-align: center;
  padding: 1.1em 2em;
  margin: 2em auto 3em; }

.ribbon-header:before, .ribbon-header:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 2em solid #c98612;
  z-index: -1; }

.ribbon-header:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent; }

.ribbon-header:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent; }

.ribbon-header .ribbon-header-content:before, .ribbon-header .ribbon-header-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #804f7c transparent transparent transparent;
  bottom: -1em; }

.ribbon-header .ribbon-header-content:before {
  left: 0;
  border-width: 1em 0 0 1em; }

.ribbon-header .ribbon-header-content:after {
  right: 0;
  border-width: 1em 1em 0 0; }

.artwork-container {
  position: relative;
  bottom: 7em; }
  .artwork-container .artwork-input-container {
    margin-top: 3em;
    z-index: 2; }
    .artwork-container .artwork-input-container .search-input {
      width: 30%;
      height: 100%;
      margin: 0 auto;
      font-size: 2em;
      background: none;
      border-bottom: solid 4px #FF6347;
      border-top: none;
      border-right: none;
      border-left: none;
      box-shadow: none;
      border-radius: 0;
      transition: border 0.3s; }
      .artwork-container .artwork-input-container .search-input input[type="text"] {
        color: #FF6347;
        /* WebKit, Blink, Edge */
        /* Mozilla Firefox 4 to 18 */
        /* Mozilla Firefox 19+ */
        /* Internet Explorer 10-11 */
        /* Microsoft Edge */ }
        .artwork-container .artwork-input-container .search-input input[type="text"]:focus {
          border-bottom: solid 2px #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]::-webkit-input-placeholder {
          color: #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]:-moz-placeholder {
          color: #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]::-moz-placeholder {
          color: #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]:-ms-input-placeholder {
          color: #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]::-ms-input-placeholder {
          color: #FF6347; }
        .artwork-container .artwork-input-container .search-input input[type="text"]:focus {
          border: none; }
    .artwork-container .artwork-input-container .results-div {
      margin: 15px 0px 20px 0px; }
  .artwork-container .artwork-results-container {
    z-index: 10; }
    .artwork-container .artwork-results-container .card-deck {
      padding-top: 40px; }
    .artwork-container .artwork-results-container .card-img-top {
      object-fit: cover;
      object-position: center;
      width: 100%;
      max-height: 250px;
      margin-bottom: 1rem; }
    .artwork-container .artwork-results-container .card {
      height: 400px;
      width: 255px;
      margin: 0 auto; }

.graph {
  padding: 0px 10px;
  width: 100%;
  height: 100%; }

.graph-header {
  padding-top: 20px; }

.graph-img-div {
  width: 90%;
  height: 90%;
  margin: 0 auto; }

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: #ECECEC;
  max-width: 100%; }

.orange {
  color: #FF6347; }
